<h1 id="tableLabel">OffSite Directory Listing</h1>



<p *ngIf="_dirListingDTO.length==0"><em>Loading, is the agent running?</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="_dirListingDTO">
  <thead>
    <tr>
      <th>Action</th>
      <th>FileName</th>
      <th>Size</th>
      <th>Date</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of _dirListingDTO">
      <td><button [disabled]="item.disabled" class="pure-button pure-button-primary" (click)='item.disabled=true;restoreFile(item)'>Restore</button></td>
      <td>{{ item.FileName }}</td>
      <td>{{ item.length | number }}</td>
      <td>{{ item.FileDate | date:'medium' }}</td>

    </tr>
  </tbody>
</table>
