<h1 id="tableLabel">OffSite Directory Listing</h1>



<p *ngIf="!dirListingDTO"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of dirListingDTO">
      <td>{{ forecast.fileName }}</td>
      <td>{{ forecast.length }}</td>
      <td>{{ forecast.date }}</td>
      
    </tr>
  </tbody>
</table>
