<h1 id="tableLabel">OffSite Directory Listing length:{{dirListingDTO.length}}</h1>



<p *ngIf="!dirListingDTO"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dirListingDTO">
  <thead>
    <tr>
      <th>Action</th>
      <th>FileName</th>
      <th>Size</th>
      <th>Date</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fileDTO of dirListingDTO">
      <td *ngIf="!restoreInProgress"><a class="pure-button pure-button-primary" (click)='restoreFile(fileDTO.FileName)'>Restore</a></td>
      <td>{{ fileDTO.FileName }}</td>
      <td>{{ fileDTO.length }}</td>
      <td>{{ fileDTO.FileDate | date:'medium' }}</td>

    </tr>
  </tbody>
</table>
