<h1>Hello, {{_AgentConfig.name}}</h1>
<a href="https://storage.googleapis.com/securitasmachina.com/OffsiteBackup_InstallInstructions.pdf" target="_blank">Agent &amp; Azure Configuration</a>

<hr />

<div class="container">
  <div class="row">

    <div class="col-md" *ngIf="(_timeSinceLastCheckIn>(1000*120))">
    No agent connected in: {{_timeSinceLastCheckIn /1000| number: '1.0-0'}} seconds
  </div>
  <div class="col-md" *ngIf="(_timeSinceLastCheckIn<(1000*120))">
  Last Agent Ping: {{_timeSinceLastCheckIn /1000| number: '1.0-0'}}
</div>
    <div class="col-sm">
      Total Backups: {{_totalBackups}}
    </div>
    <div class="col-sm">
      Total Restores: {{_ReportDTO.totalRestores}}
    </div>
    <div class="col-sm">
      Total Offsite: {{_totalOffsiteBackups}} files {{_totalOffsiteBackupsBytes/1024/1024 | number : '1.0-0'}} GB
    </div>
  </div>
</div>
<hr/>
 Agent Checkins
<canvas baseChart width="800" height="200"
        [type]="'line'"
        [datasets]="_upTimeChartData"
        [options]="uptimeLineChartOptions"
        [labels]="_upTimeChartDataLabels"
        [legend]="lineChartLegend">
</canvas>
<!--Offsite files:
<canvas baseChart width="800" height="200"
        [type]="'line'"
        [datasets]="_offsiteFilesChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
</canvas>

 Restores:
<canvas baseChart width="800" height="200"
        [type]="'line'"
        [datasets]="_activeRestoresChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
</canvas>
    -->
 Backups
<canvas baseChart width="800" height="200"
        [type]="'line'"
        [datasets]="_activeBackupsChartData"
        [labels]="_activeBackupsDataLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
</canvas>

